@font-face {
  font-family: Road-Radio;
  src: url(../fonts/RoadRadio-Thin.ttf);
}

body{
  font-family: "Road-Radio", Verdana, Tahoma;
  background-color: #eee;
  letter-spacing: 1px;
  //Bootstrap override
  .btn{
    border-radius: 0;
  }

  .logo{
    margin-left: 20px;
    position: absolute;
    img{
      width: 50px;
    }
  }
  .logout{
    right: 20px;
    position: absolute;
  }
  .header{
    text-align: center;
    h1{
      text-transform: uppercase;
      font-family: "Road-Radio", Verdana, Tahoma;
    }
  }
  .navigation{
    width: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    position: relative;
    .path1,.path2{
      border-top: 3px solid;
      position: absolute;
      width: 100%;
    }
    .path2{
      left: 0;
      width: 0;
      border-color: #1ada22;
    }
    .circle{
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #000;
      position: absolute;
      top: -6px;
      left: -8px;
      &.left{
        background-color: #1ada22;
      }
      &.mid{
        left: 170px;
      }
      &.right{
        left: auto;
        right: -8px;
      }
    }
    .bus-icon,.flight-icon{
      position: absolute;
      top: 10px;
      margin-left: -15px;
      left: 0;
      width: 25px;
      height: 25px;
    }
    .bus-icon{
      background-image: url('../images/bus-mini.png');
    }
    .flight-icon{
      top: -32px;
      background-image: url('../images/flight-mini.png');
    }
  }
  .page{
    text-align: center;
    &.mode{
      .bus,.flight{
        display: inline-block;
        width: 250px;
        height: 250px;
        margin: 50px;
        background-color: #333;
        position: relative;
        &:hover{
          background-color: #666;
        }
        &:active{
          background-color: #000;
        }
        div{
          position: absolute;
          bottom: 10px;
          font-size: 35px;
          width: 100%;
          color: #fff;
        }
      }
      .bus{
        background-image: url('../images/bus-big.png');
        background-repeat: no-repeat;
        background-position: 10px 85px;
      }
      .flight{
        background-image: url('../images/flight-big.png');
        background-repeat: no-repeat;
        background-position: 43px 20px;
      }
    }
    &.info,&.book{
      display: none;
      margin-top: 100px;
    }
    &.info{
      .form{
        width: 50%;
        position: relative;
        left: 25%;
        input{
          min-width: 170px;
          margin-top: 10px;
          padding-left: 5px;
          &.from, &.to{
            width: 60%;
          }
          &.date{
            min-width: 0;
            width: 120px;
          }
        }
        select{
          margin-top: 10px;
          width: 120px;
          height: 25px;
        }
        .travel-info{
          display: none;
          color: #666;
          font-size: 25px;
          margin-top: 10px;
          font-weight: bold;
          letter-spacing: 2px;
        }
        .loader{
          display: none;
          margin-top: 20px;
        }
      }
    }
    &.book{
      margin-bottom: 30px;
      .image-container{
        display: inline-block;
        width: 585px;
        position: relative;
        .row{
          margin-bottom: 7px;
          .seat{
            width: 60px;
            height: 60px;
            background-color: #1f9e07;
            display: inline-block;
            margin-left: 15px;
            box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.2);
            &:first-child{
              margin: 0;
            }
            &.available-0{
              background-color: transparent;
              box-shadow: none;
            }
            &.booked{
              background-color: #666;
            }
            &.match{
              background-color: #d1c904;
            }
            &.selected{
              background-color: #25BDDA;
            }

            div{
              height: 8px;
              width: 0%;
              background-color: red;
              margin-top: 6px;
              .music{
                background-color: #ff06eb;
              }
              .books{
                background-color: #1914a3;
              }
              .movies{
                background-color: #f00;
              }
              .skills{
                background-color: #a300ff;
              }
            }
          }
        }
        .loading{
          position: absolute;
          width: 100%;
          font-size: 80px;
          color: #00F;
          margin-top: 115px;
        }
      }
      .legend{
        .gray,.green,.yellow{
          display: inline-block;
          width: 15px;
          height: 10px;
          margin-left: 10px;
          background-color: #666;
        }
        .green{
          background-color: #1f9e07;
        }
        .yellow{
          background-color: #d1c904;
        }
      }
    }

    .arrow-next,.arrow-back{
      position: fixed;
      left: 30px;
      bottom: 30px;
    }
    .arrow-next{
      left: auto;
      right: 30px;
    }
  }
}
