@font-face {
  font-family: Road-Radio;
  src: url(../fonts/RoadRadio-Thin.ttf);
}

body{
  font-family: "Road-Radio", Verdana, Tahoma;
  background-color: #eee;
  letter-spacing: 1px;
  //Bootstrap override
  .btn{
    border-radius: 0;
  }

  .navigation{
  }
  .page{
    text-align: center;
    &.mode{
      .bus,.flight{
        display: inline-block;
        width: 250px;
        height: 250px;
        margin: 50px;
        background-color: #333;
        &:hover{
          background-color: #666;
        }
        &:active{
          background-color: #000;
        }
      }
      .bus{
        background-image: url('') no-repeat;
      }
      .flight{
        background-image: url('') no-repeat;
      }
    }
    &.info,&.book{
      display: none;
    }
    &.info{
      .form{
        width: 50%;
        position: relative;
        left: 25%;
        input{
          min-width: 170px;
          margin-top: 10px;
          padding-left: 5px;
          &.from, &.to{
            width: 60%;
          }
          &.date{
            min-width: 0;
            width: 120px;
          }
        }
        select{
          margin-top: 10px;
          width: 120px;
          height: 25px;
        }
        .travel-info{
          display: none;
          color: #666;
          font-size: 25px;
          margin-top: 10px;
          font-weight: bold;
          letter-spacing: 2px;
        }
        .loader{
          display: none;
          margin-top: 20px;
        }
      }
    }
    &.book{
      margin-bottom: 30px;
      .image-container{
        display: inline-block;
        width: 585px;
        .row{
          margin-bottom: 7px;
          .seat{
            width: 60px;
            height: 60px;
            background-color: #000;
            display: inline-block;
            margin-left: 15px;
            &:first-child{
              margin: 0;
            }
            &.available-0{
              background-color: transparent;
            }
          }
        }
      }
    }

    .arrow-next,.arrow-back{
      position: fixed;
      left: 30px;
      bottom: 30px;
    }
    .arrow-next{
      left: auto;
      right: 30px;
    }
  }
}
