<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery-ui.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
  </head>
  <body>
  <div class="header">
    <img src="./images/logo-title.png">
  </div>
  <div class="login">
  Login using
    <div class="facebook-holder">
      <a href="./user/login?login_type=facebook" class="facebook-login">
        <img src="./images/facebook-login.png">
      </a>
    </div>
    or
    <div class="linkedin-holder">
      <a href="./user/login?login_type=linkedin" class="linkedin-login">
        <img src="./images/linkedin-login.png">
      </a>
    </div>
  </div>
  </body>
</html>
